<nav>
  <h1><a href="/"><%=header%></a></h1>
  <% if(user) {%>
  <h2>Hosgeldin <%=user.username%></h2>
  <% } else { %> <% } %>
  <ul>
    <li><a href="/"> Ana Sayfa</a></li>
    <% if(user) {%>
    <li><a href="/login/add">Kayit</a></li>
    <li><a href="/login/logout">Cikis</a></li>
    <% } else { %>
    <li><a href="/login">Giris</a></li>
    <% } %>
    <li><a href="/addDeletePod">Kap Ekle/Çıkar</a></li>
  </ul>
</nav>
