<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>

    <section>
      <div id="thing">
        <form action="" method="post">
          <input
            class="required"
            type="text"
            name="podName"
            placeholder="Kap Adı Giriniz"
          />
          <input
            class="required"
            type="number"
            name="podFreeWeight"
            placeholder="Kap Darası Giriniz"
          />
          <input
            type="number"
            name="podTotalWeight"
            placeholder="Kap Total Ağırlık Giriniz"
          />
          <input
            type="number"
            name="productRawAmount"
            placeholder="Ham Ürün Miktarı Giriniz"
          />
          <input
            type="number"
            name="productRawAmountRequested"
            placeholder="Ham İstenilen Ürün Miktarı Giriniz"
          />
          <input type="submit" value="Gonder" />
        </form>
      </div>
    </section>
  </body>
</html>
