<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>

    <section>
      <div id="thing">
        <form action="" method="post">
          <input type="text" name="podName" placeholder="podName" />
          <input type="text" name="podFreeWeight" placeholder="podFreeWeight" />
          <input
            type="text"
            name="podTotalWeight"
            placeholder="podTotalWeight"
          />
          <input
            type="text"
            name="productRawAmount"
            placeholder="productRawAmount"
          />
          <input
            type="text"
            name="productRawAmountRequested"
            placeholder="productRawAmountRequested"
          />
          <input type="submit" value="Gonder" />
        </form>
      </div>
    </section>
  </body>
</html>
