<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>

    <section>
      <div id="thing">
        <form action="" method="post">
          <input
            class="required"
            type="text"
            name="podName"
            placeholder="Kap Adı Giriniz"
            required
          />

          <input
            class="required"
            type="number"
            name="podFreeWeight"
            placeholder="Kap Darası Giriniz"
            required
          />
          <input
            type="number"
            name="podTotalWeight"
            placeholder="Kap Total Ağırlık Giriniz"
          />
          <input
            type="number"
            name="productRawAmount"
            placeholder="Ham Ürün Miktarı Giriniz"
          />
          <input
            type="number"
            name="productRawAmountRequested"
            placeholder="Ham İstenilen Ürün Miktarı Giriniz"
          />
          <input type="submit" value="Gonder" />
        </form>
      </div>
    </section>
    <!-- <script>
      const requiredInputs = document.querySelectorAll(".required");

      window.addEventListener("click", function (e) {
        console.log(requiredInputs[0].value);
      });
    </script> -->
  </body>
</html>
