<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>

    <section>
      <div id="thing">
        <table>
          <tr>
            <th>Kap No</th>
            <th>Dara(gr)</th>
            <th>Toplam</th>
            <th>Ürün(raw)</th>
            <th>İstenen Miktar(raw)</th>
            <th>Tartıda Yazacak</th>
          </tr>
          <tr>
            <td>1</td>
            <td>205</td>
            <td>1205</td>
            <td>300</td>
            <td>50</td>
            <td>-</td>
          </tr>

          <tr>
            <td>2</td>
            <td>136</td>
            <td>756</td>
            <td>400</td>
            <td>50</td>
            <td>-</td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>
