<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>TARTI</title>
  </head>
  <body>
    <nav>
      <h1><a href="/">KAC GR YAZSIN</a></h1>
      <ul>
        <li>Ana Sayfa</li>
        <li>Giris</li>
      </ul>
    </nav>

    <section>
      <div id="thing">
        <table>
          <tr>
            <th>Kap No</th>
            <th>Dara(gr)</th>
            <th>Toplam</th>
            <th>Ürün(raw)</th>
            <th>İstenen Miktar(raw)</th>
            <th>Tartıda Yazacak</th>
          </tr>
          <tr>
            <td>1</td>
            <td>205</td>
            <td>1205</td>
            <td>300</td>
            <td>50</td>
            <td>-</td>
          </tr>

          <tr>
            <td>2</td>
            <td>136</td>
            <td>756</td>
            <td>400</td>
            <td>50</td>
            <td>-</td>
          </tr>
        </table>
      </div>
    </section>
  </body>
</html>
