* {
    background-color:gainsboro;
    font-size: medium;
    margin: 0px;
    padding: 0px;
}



nav {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    border-bottom: 3px black solid;
    /* width:max-content; */
    margin: auto auto;
}

nav h1 ,nav h2{
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-inline-start:0;
    margin-top: 10px;
}



ul li {
    display: flex;
    list-style: none;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.40);
}

ul li a {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-radius: 40%;
    font-size: 20px;
}

section{
    width: 100%;
}




#hasButtons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hasButtons button {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
}

table { 
    table-layout:fixed;
}

#thing{
    width: 100%;
}

.podIndex{
    height: 1vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.pod{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pod b {
    font-size: 28px;
}

.podProperty {
    display: flex;
    justify-content:space-between;
}

.podProperty div{
    width: 100%;
    border: 1px solid;
    text-align: center;
}

#podIndexButtons{
    display: flex;
}

#podIndexButtons button{
    height: 50px;
    font-size: 20px;
}

.podTotalWeight div b{
    background-color: greenyellow;
}