* {
    background-color:gainsboro;
    font-size: large;
}

body{
    margin: 10px auto;
    width: 100%;
}

section{
    margin: 20px auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px black solid;
    margin: auto auto;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}

ul li {
    list-style: none;
    border-radius: 5px;
}

ul li:hover, a:hover{
    cursor: pointer;
    background-color: white;
}


#thing{
    
    width: 90%;
    height: 400px;
    margin: 0 auto;
    
}

table {
    width: 100%;
    height: 100%;
    margin: auto auto;
    text-align: center;
}

table,tr,th,td {
    border: solid 1px black;
    border-collapse: collapse;
}

form {
    margin : auto auto;
    height: 100%;
}

input{
    display: block;
    margin: auto;
    width: 60%;
    text-align: center;
}

.required {
    background-color: lightcoral;
}



tr:hover td {
    background-color: lightcoral;
}

.full{
    width: 100%;
    height: 100%;
}

.calculatePageBtn {
    width: 100%;
    height: 20%;
}

.calculatePageBtn:hover{
    background-color: lightcoral;
    cursor: pointer;
}

.btnAddAndTake{
    background-color: gray;
    height: 100%;
    width: 45%;
}

.btnAddAndTake:hover{
    border: solid black 3px;
    cursor: pointer;
}

#formAddDeletePod {
    height: auto;
    margin: auto auto;
}

#formAddDeletePod  {
    align-items: center;
}

#tableAddDeletePod {
    margin: 20px auto;
}

#hasButtons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hasButtons button {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
}


.registerForm input{
    margin-top: 30px;
    height: 40px;
    align-items: center;
    background-color: antiquewhite;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registerForm input[type="submit"]:hover{
    background-color: greenyellow;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.66); 
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.66);
}