* {
    background-color:gainsboro;
    font-size: large;
}

body{
    margin: 10px auto;
    width: 100%;
}

section{
    margin: 20px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px black solid;
    margin: auto 50px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    margin-left: 50px;
    list-style: none;
    border-radius: 5px;
}

ul li:hover, a:hover{
    cursor: pointer;
    background-color: white;
}


#thing{
    
    width: 90%;
    height: 400px;
    margin: 0 auto;
    
}

table {
    width: 100%;
    height: 100%;
    margin: auto auto;
    text-align: center;
}

table,tr,th,td {
    border: solid 1px black;
    border-collapse: collapse;
}

form {
    margin : auto auto;
    height: 100%;
}

input{
    display: block;
    margin: auto;
    width: 60%;
    text-align: center;
}

.required {
    background-color: lightcoral;
}



tr:hover td {
    background-color: lightcoral;
}

.full{
    width: 100%;
    height: 100%;
}

.calculatePageBtn {
    width: 100%;
    height: 20%;
}

.calculatePageBtn:hover{
    background-color: lightcoral;
    cursor: pointer;
}

.btnAddAndTake{
    background-color: gray;
    height: 100%;
    width: 45%;
}

.btnAddAndTake:hover{
    border: solid black 3px;
    cursor: pointer;
}

#formAddDeletePod {
    height: auto;
    margin: auto auto;
}

#formAddDeletePod  {
    align-items: center;
}

#tableAddDeletePod {
    margin: 20px auto;
}